@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  scroll-behavior: smooth;
  color-scheme: #fff;
}

.App {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 100%;
}